@import helper._

@(userForm: Form[WikiCladeForm])(implicit messages: Messages)

@main("WikiClade") {
    <h1>WikiClade</h1>
    @form(action = routes.HomeController.wikiCladeFormPost()) {
        @textarea(userForm("inputs"))
        @inputText(userForm("verbosity"))

        <input type="submit" value="Generate Cladogram">
    }
    <br>
    <div class="srclink"><a href="https://github.com/d-shapiro/wikiClade"><img src="/assets/images/Github-Mark-32px.png" height="18px"><span> Source</span></a></div>
    <div class="srclink"><a href="https://github.com/d-shapiro/wikiCladeWeb"><img src="/assets/images/Github-Mark-32px.png" height="18px"><span> Website Source</span></a></div>
}
