@import helper._

@(userForm: Form[WikiCladeForm])(implicit messages: Messages)

@main("WikiClade") {
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>WikiClade</h1>
    @form(action = routes.HomeController.wikiCladeFormPost()) {
        @textarea(userForm("inputs"))
        @select(userForm("verbosity"),
            Seq("complete" -> "complete", "normal" -> "normal", "less" -> "less", "minimal" -> "minimal"))

        <input type="submit" value="Generate Cladogram">
    }
    <br>
    <p>
        This tool scrapes Wikipedia to generate a cladogram (branching diagram used to illustrate evolutionary
        relationships) linking the input organisms. Verbosity affects how many intermediate clades are displayed.
    </p>
    <div class="srclink"><a href="https://github.com/d-shapiro/wikiClade"><img src="@routes.Assets.versioned("images/githubmark.png")" height="18px"><span> Source</span></a></div>
    <div class="srclink"><a href="https://github.com/d-shapiro/wikiCladeWeb"><img src="@routes.Assets.versioned("images/githubmark.png")" height="18px"><span> Website Source</span></a></div>
}
